@reference "@/app/styles/global.css";

.card {
  @apply bg-card rounded-4xl p-5 flex flex-col justify-between border border-border;
  @apply min-h-[200px] transition-all duration-300 hover:border-primary/50 hover:scale-102 cursor-pointer;
}

.title {
  @apply text-lg font-semibold text-gray-800 text-center mb-3;
}

.descriptionBox {
  @apply bg-card border rounded-4xl p-4 flex items-center justify-center text-center mx-auto mb-4;
  @apply max-w-[90%];
}

.description {
  @apply text-sm text-gray-700 line-clamp-3;
}

.footer {
  @apply flex items-center justify-between text-sm text-gray-600;
}

.status {
  @apply flex items-center gap-2 font-medium;
}

.dot {
  @apply w-3 h-3 rounded-full;
}

.date {
  @apply text-gray-500;
}
